#header {
	background-color:orange;
	opacity:0.5;
	color:white;
	padding:5px;
}
#cost {
	width: 250px;
	height: 600px;
	border: 3px solid #EE872A;
	padding:10px;
	/* overflow:hidden; */
}
#box {
	width: 550px;
	height: 250px;
	border: 3px solid #EE872A;
	padding:10px;
}
#view{
	height:600px;
	padding:10px;
	border-radius:1px;
	border:3px solid #EE872A;
	font-size:120%;"
}

.costTable  td, th {
	padding:3px 3px 10px 5px;
}

.ingrTable  td{
	padding:5px;
}

.selec button {
	cursor: pointer; 
	cursor: hand;
}
.selec img {
	width:128px;
	height:128px;
	padding:10px;
}

.over p {
	color:red;
}

.instr img {
	width:128px;
	height:128px;
	padding:3px;
	border:3px solid black;
	margin:10px
}
.instr p,h2,h4 {
	margin:5px;
}