#header {
	background-color:orange;
	opacity:0.5;
	color:white;
	padding:5px;
}
#cost {
	width: 250px;
	height: 600px;
	border: 3px solid #EE872A;
	padding:10px;
	/* overflow:hidden; */
}
#box {
	width: 550px;
	height: 250px;
	border: 3px solid #EE872A;
	padding:10px;
	/* overflow:hidden; */
}
#view{
	height:600px;
	padding:10px;
	border-radius:1px;
	border:3px solid #EE872A;
	font-size:120%;"
}
.beta td {
	padding:15px;
}
.selec button {
	cursor: pointer; 
	cursor: hand;
}
.selec img {
	width:128px;
	height:128px;
	padding:10px;
}
.over p {
	color:red;
}