<div id="view">
	<table style="">
		<tr>
			<td style="width:50%">
				<h2>Lasagne</h2>
				<img id ="imgId" src="images/bakedbrie.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<button type="button">Click Me!</button>
				<h2>Preperation</h2>
				<p id="mealDescrip">put meal description here! Maxime</p>
			</td>
			<td style="width:50%">
				<div style="height:100%;padding: 10px;border: 2px solid black;margin: 10px;">
					<p><b>Ingredients for 4 people</b></p>
					<hr>
					<table style="width:100%">
						<tr>
							<td>2 tbsp</td>
							<td>olive oil</td>
							<td>SEK</td>
							<td align="right">0.20</td>
						</tr>
					</table>
					<hr>
					<button type="button">Click Me!</button>
					<div align="right">SEK 0.00</div>
				</div>	
			</td>
		</tr>
	</table>
</div>

