<div id="view">
	<div><h2>Select Dish</h2><hr>
		<form action="action_page.php">
			<input placeholder="Enter key words">
			<input type="submit">
				<select name="cars";>
					<option value="Volvo">Main</option>
					<option value="saab">Shrimps</option>
				</select>
		</form>
		<hr>
	<table style="">
		<td style="">
			<div type="button" style="cursor: pointer; cursor: hand;" onclick="alert()"></button>
			<h2>Lasagne</h2>
			<img src="images/bakedbrie.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
			</div>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<button type="button">Click Me!</button>
		</td>
		<td style="">
			<div type="button" style="cursor: pointer; cursor: hand;" onclick="alert()"></button>
			<h2>Lasagne</h2>
			<img src="images/icecream.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
			</div>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<button type="button">Click Me!</button>
		</td>
				<td style="">
			<div type="button" style="cursor: pointer; cursor: hand;" onclick="alert()"></button>
			<h2>Lasagne</h2>
			<img src="images/meatballs.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
			</div>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<button type="button">Click Me!</button>
		</td>
	</table>
	</div>
</div>
