<div id="view">
	<div><h2 style="padding:10px">Select Dish</h2><hr>
		<form action="action_page.php">
			<input placeholder="Enter key words">
			<input type="submit">
				<select name="dishes">
					<option value="Starter">Starter</option>
					<option value="Main">Main</option>
					<option value="Desert">Desert</option>
				</select>
			</input>
			</input>
		</form>
		<hr>
	<table class="selec" style="width:100%">
		<tr>
			<td align="center">
				<button type="button" onclick="alert()">
				<h2>Lasagne</h2>
				<img src="images/bakedbrie.jpg">
				</button>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</td>
			<td align="center">
				<button type="button" onclick="alert()">
				<h2>Lasagne</h2>
				<img src="images/bakedbrie.jpg">
				</button>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</td>
			<td align="center">
				<button type="button" onclick="alert()">
				<h2>Lasagne</h2>
				<img src="images/bakedbrie.jpg">
				</button>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</td>
		<tr>
	</table>
	</div>
</div>