<div id="view">
	<h2 style="padding:10px">Select Dish</h2><hr>
	<input id="dishFilterInput" placeholder="Enter key words"></input>
	<select id="typeSelectionInput">
		<option value="starter">Starter</option>
		<option value="main dish">Main</option>
		<option value="dessert">Dessert</option>
	</select>
	<hr>
	<table id="dishSelectionTable" style="width:100%">
		<tr>
			<td align="center">
				<button type="button" style="cursor: pointer; cursor: hand;" onclick="alert()">
					<h2>Lasagne</h2>
					<img src="images/bakedbrie.jpg" alt="HTML5 Icon" style="width:128px;height:128px;padding:10px">
				</button>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</td>
			<td align="center">
				<button type="button" style="cursor: pointer; cursor: hand;" onclick="alert()">
				<h2>Lasagne</h2>
				<img src="images/bakedbrie.jpg" alt="HTML5 Icon" style="width:128px;height:128px;padding:10px">
				</button>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</td>
			<td align="center">
				<button type="button" style="cursor: pointer; cursor: hand;" onclick="alert()">
				<h2>Lasagne</h2>
				<img src="images/bakedbrie.jpg" alt="HTML5 Icon" style="width:128px;height:128px;padding:10px">
				</button>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</td>
		<tr>
	</table>
</div>