<div>
	<table  class="beta" style="width:100%">
		<tr style="background-color:orange;color:black;padding:5px;">
			<td><h2>My Dinner</h2></td>
			<td align="right"><button id="goBackButton" type="button">Go back and edit dinner</button></td>
		</tr>
	</table>
	<table id="intructionTable" class="instr" style="width:100%">
		<tr>
			<td style="width:20%;padding:10px" align="center">
				<img src="images/bakedbrie.jpg">
			</td>
			<td style="width:30%" align="left">
				<h2>Lasagne</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</td>
			<td style="width:50%" align="left">
				<br>
				<h4>Preperation</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<br>
			</td>
		</tr>
	</table>
</div>