<table  class="beta" style="width:100%">
	<tr style="background-color:orange;color:black;padding:5px;">
		<td><h2>My Dinner</h2></td>
		<td align="right";><button type="button">Go back and edit dinner</button></td>
	</tr>
</table>
<table style="width:100%">
	<tr>
		<td align="center">
			<h2>Lasagne</h2>
			<img src="images/bakedbrie.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
			<br>
			<p style="color:red">Price</p>
		</td>
		<td align="center">
			<h2>Lasagne</h2>
			<img src="images/icecream.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
			<br>
			<p style="color:red">Price</p>
		</td>
		<td align="center">
			<h2>Lasagne</h2>
			<img src="images/meatballs.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
			<br>
			<p style="color:red">Price</p>
		</td>
		<td align="left">
			<br><br><br><br><br><br><br>
			<p>Total:</p>
			<p style="color:red">1349 SEK</p>
		</td>
	</tr>
</table>
<hr>
<div  align="center">
	<button align="center" style="width:40%" type="button">Print Full Recipe</button>
</div>