<div>
	<table class="beta" style="width:100%">
		<tr style="background-color:orange;color:black;padding:5px;">
			<td><h2>My Dinner</h2></td>
			<td align="right"><button id="goBackButton" type="button">Go back and edit dinner</button></td>
		</tr>
	</table>
	<table class="over" style="width:100%">
		<tr id="menuResumeRow">
			<td align="center">
				<h2>Lasagne</h2>
				<img src="images/bakedbrie.jpg">
				<br>
				<p>Price</p>
			</td>
			<td align="center">
				<h2>Lasagne</h2>
				<img src="images/icecream.jpg">
				<br>
				<p>Price</p>
			</td>
			<td align="center">
				<h2>Lasagne</h2>
				<img src="images/meatballs.jpg">
				<br>
				<p>Price</p>
			</td>
			<td align="left">
				<br><br><br><br><br><br><br>
				<text>Total:</text>
				<p id="costResumeTotal">1349 SEK</p>
			</td>
		</tr>
	</table>
	<hr>
	<div  align="center">
		<button id="preparationButton" align="center" style="width:40%" type="button">Print Full Recipe</button>
	</div>
</div>